name: Build and Test

on:
  push:

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build and Test
    runs-on: [self-hosted, linux, x64]
    permissions:
      packages: write
      contents: read
      actions: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        env:
          cache-version: v3
        with:
          key: ${{ env.cache-version }}-${{ hashFiles('stack*.yaml') }}-${{ hashFiles('package.yaml') }}
          restore-keys: |
            ${{ env.cache-version }}-
          path: |
            ./stack-root

      - name: Build and test
        run: |
          set -e
          mkdir -p ./stack-root
          mv docker-compose.override.github.yml docker-compose.override.yml
          ./scripts/build
